  <% include ../partials/top.ejs %>
  <div class="bigContainer">
    <div class="container">
      <div class ="addContainer">
        <form action="/subway?/<%=data.name%>?_method=PUT" method="POST">
            <div class="flexform">
            <label>Name of Subway Price System</label>
            <input type="text" name="name" value="<%=data.name %>" placeholder="<%=data.name %>"></div><br>
            <div class="flexform">
            <label>One Ride</label>
            <input type="number" name="oneRide" value="<%=data.oneride %>" placeholder="<%=data.oneRide %>"></div><br>
            <div class="flexform">
            <label>Express/special</label>
            <input type="number" name="express" value="<%=data.express %>" placeholder="<%=data.express %>"></div><br>
            <div class="flexform">
            <label>Transfer</label>
            <input type="number" name="ridetransfer" value="<%=data.ridetransfer %>" placeholder="<%=data.riderransfer %>"></div><br>
            <div class="flexform">
            <label>One Day Pass</label>
            <input type="number" name="oneDayPass" value="<%=data.onedaypass %>" placeholder="<%=data.oneDayPass %>"></div><br>
            <div class="flexform">
            <label>Three Day Pass</label>
            <input type="number" name="threeDayPass" value="<%=data.threedaypass %>" placeholder="<%=data.threeDayPass %>"></div><br>
            <div class="flexform">
            <label>Seven Day Pass</label>
            <input type="number" name="sevenDayPass" value="<%=data.sevendaypass %>" placeholder="<%=data.sevenDayPass %>"></div><br>
            <div class="flexform">
            <label>thirty Day Pass</label>
            <input type="number" name="thirtyDayPass" value="<%=data.thirtydaypass %>" placeholder="<%=data.thirtyDayPass %>"></div><br>
            <div class="flexform">
            <label>Notes</label>
            <input name="notes" placeholder="Anything else the user needs to know"></div><br>
            <input type="submit">
           </form>
      </div>
    </div>
  </div>
</body>
</html>
