  <% include ../partials/top.ejs %>
  <p class ="name a"><%= data.name%></p><p class="transfer a"><%= data.ridetransfer %></p><p class ="oneRide a"><%= data.oneride%></p><p class ="downtownExpress a"><%= data.express%></p><p class ="oneDayPass a"><%= data.onedaypass%></p><p class ="threeDayPass a"><%= data.threedaypass%></p><p class='sevenDaypass a'><%= data.sevendaypass%></p><p class ="thirtyDayPass a"><%= data.thirtydaypass%></p><p class ="Notes a"><%= data.notes%></p>
  <div class="bigContainer">
    <div class="edita">
        <a class="a2" href="./<%=data.name%>/edit">Edit Subway</a>
    </div>
    <div class="container">
      <div class="tableContainer">
        <div class="table table0">
      </div>
      </div>
    </div>
  </div>
  <script src='/src/jquery.js'></script>
  <script src='/src/main.js'></script>

</body>
</html>
